* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

  background: url('https://images.unsplash.com/photo-1531297484001-80022131f5a1?auto=format&fit=crop&w=1350&q=80')
    no-repeat center center fixed;
  background-size: cover;
//   filter: brightness(1.05);
}
